.page.memorycard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

.card-grid {
	width: fit-content;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1em;
}

.memory-card {
	width: 120px;
	height: 150px;
	background-color: transparent;

	transition: opacity 0.25s;
	perspective: 1000px;
}

.memory-card:hover {
	cursor: pointer;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;

	transition: transform 0.25s;
	transform-style: preserve-3d;
}

.memory-card.visible .card-inner {
	transform: rotateY(180deg);
}

.memory-card.completed {
	opacity: 0.5;
}

/*Front & Back*/
.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;

	border-radius: 5px;
	backface-visibility: hidden;
}

.card-front {
	background: linear-gradient(to bottom, var(--main-light), var(--accent));
}

.card-back {
	transform: rotateY(180deg);
}

.card-cover {
	width: 100%;
	height: 100%;
	border-radius: 10px;

	object-fit: cover;
	aspect-ratio: 16/9;
}

@media (max-width: 767px) {
	.card-grid {
		grid-template-columns: repeat(5, 1fr);
		gap: 0.5rem;
	}

	.memory-card {
		width: 60px;
		height: 100px;
	}
}
