:root {
	--main-dark: #2c302e;
	--main-light: rgb(221, 216, 196);
	--success: #8ed081;
	--danger: #ff331f;
	--accent: #bb7e8c;

	--main-font: system-ui, sans-serif;
	--secondary-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: 16px;
}
