.page.queueproblem {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	gap: 1em;
}

.item-checkout {
	display: flex;
	align-items: center;
	gap: 1em;
}

.item-input,
.item-button {
	padding: 1em;

	background-color: transparent;
	border: solid 3px var(--main-light);
	border-radius: 5px;
	outline: none;

	color: var(--main-light);
	font-size: 1.25rem;
	font-family: var(--main-font);
	text-align: center;
}

.item-button {
	cursor: pointer;
}

.item-button:hover {
	background-color: var(--main-light);
	color: var(--main-dark);
}

.queue-container {
	display: flex;
	align-items: flex-start;
	gap: 1em;
}

.queue {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.counter {
	padding: 1em;
	background-color: var(--main-light);
	border-radius: 5px;

	color: var(--main-dark);
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.customer {
	width: 60px;
	height: 60px;

	border-radius: 50%;
	border: solid 3px var(--main-light);

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--main-light);
	font-size: 1.5rem;
}

.queue-trail {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.trail-dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--main-light);
}

.queueproblem .back-button {
	margin-top: auto;
}

@media (max-width: 1280px) {
	.counter {
		padding: 0.25em;
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.item-checkout {
		gap: 0.5em;
	}
	.item-input,
	.item-button {
		padding: 0.25em;
		border: solid 2px var(--main-light);
		font-size: 1rem;
	}

	.queue-container {
		gap: 0.5em;
	}

	.queue {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	.counter {
		padding: 0.125em;
		font-size: 0.725rem;
	}

	.customer {
		width: 50px;
		height: 50px;

		font-size: 1.25rem;
	}
}
