.page.whacamole {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

.container.whacamole {
	width: fit-content;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0;
}

.mole {
	width: 300px;
	height: 200px;
	border: solid 1px black;

	background-image: url("../../assets/images/mole_hidden.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.mole.shown {
	background-image: url("../../assets/images/mole_shown.png");
}

.mole:hover {
	opacity: 0.9;
}

@media (max-width: 767px) {
	.mole {
		width: 100px;
		height: 70px;
	}
}
