.page.countryCapitals {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

.container.countryCapitals {
	width: 100%;

	display: grid;
	place-content: center;
	place-items: center;

	grid-template-columns: repeat(auto-fit, minmax(calc((100% / 3) - 1em), 0.33fr));
	grid-auto-rows: auto;
	grid-gap: 1em;
}

.button {
	width: 100%;
	padding: 1em 2em;

	background-color: var(--main-light);
	border: none;
	border-radius: 10px;
	outline: none;

	color: var(--main-dark);
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;

	cursor: pointer;
}

.button.selected {
	background-color: var(--accent);
}

.button.selected.incorrect {
	background-color: var(--danger);
}

@media (max-width: 767px) {
	.container.countryCapitals {
		grid-template-columns: repeat(auto-fit, minmax(calc((100% / 2) - 1em), 0.5fr));
		gap: 0.5em;
	}

	.button {
		padding: 0.5em;
		font-size: 0.85rem;
		border-radius: 5px;
	}
}
